# Project exclude paths
/cmake-build-debug/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/st-dns
/st_dns.cbp
.idea
/install_manifest.txt
/st-dns-test
/st-dns.cbp
/.clion.source.upload.marker
/*debug*
/.blacklist/
/.whitelist/
cmake*/
Makefile
build
/confs/whitelist/
/confs/blacklist/
